---
id: "test"
layout: "default"
title: "Test Detail"
url: "/test"
sidenav: "default"
---

<!-- <div id="search" class="table-responsive">
  <div class="loading">
    <img src="/assets/imgs/layout/loading.gif" alt="">
  </div>
</div> -->

<div id="search">
  <div class="loading">
    <img src="/assets/imgs/layout/loading.gif" alt="">
  </div>
</div>

<script type="text/template" id="search-template">
  {{ if (it._source) { }}

  {{? it._source.PrimaryName }}
  <h2>{{= it._source.PrimaryName }}</h2>
  {{?}}

  <hr>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li><a href="#specimen" data-toggle="tab">Specimen</a></li>
    <li><a href="#clinical" data-toggle="tab">Clinical Info</a></li>
    {{? it._source.SupportDocuments[0] }}<li><a href="#documents" data-toggle="tab">Documents</a></li>{{?}}
  </ul>

  <div id="tabs" class="tab-content">

    <div id="overview" class="tab-pane fade in active">
      {{? it._source.LISCode }}
      <h3>
        Mnemonic
        <small><a href="#" class="info" data-toggle="tooltip" title="Unique test identifier."><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.LISCode }}</p>
      {{?}}

      {{? it._source.LFSCode }}
      <h3>
        Billing Code
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.LFSCode }}</p>
      {{?}}

      {{? it._source.LOINC }}
      <h3>
        LOINC<sup>&reg;</sup>
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.LOINC }}</p>
      {{?}}

      {{? it._source.Aliases[0] }}
      <h3>
        Aliases
        <small><a href="#" class="info" data-toggle="tooltip" title="Other names that describe the test."><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <ul>
        {{ for (var alias in it._source.Aliases) { }}
        <li>{{= it._source.Aliases[alias].AliasName }}</li>
        {{ } }}
      </ul>
      {{?}}

      {{? it._source.Includes[0] }}
      <h3>
        Includes
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      {{ var includes = it._source.Includes.sort(function(a, b) { return a.Rank - b.Rank; }); }}
      <ol>
        {{ for (var inc in includes) { }}
        <li>{{= includes[inc].TestName }}</li>
        {{ } }}
      </ol>
      {{?}}

      {{? it._source.Overview }}
      <h3>
        Test Overview
        <small><a href="#" class="info" data-toggle="tooltip" title="Unique test identifier."><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Overview }}</p>
      {{?}}
    </div>

    <div id="specimen" class="tab-pane fade">
      {{? it._source.SpecimenRequirements }}
      <h3>
        Specimen Requirements
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Volume</th>
              <th>Type</th>
              <th>Container</th>
              <th>Collect Temperature</th>
              <th>Transport Temperature</th>
              <th>Special Instructions</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var requirement in it._source.SpecimenRequirements) { }}
            {{ var req = it._source.SpecimenRequirements[requirement]; }}
            {{ if (req.DictSpRequirementCategory.Name === "External") { }}
            <tr>
              <td>{{? req.DictSpVolume }}{{= req.DictSpVolume.Volume }}{{?}}</td>
              <td>{{? req.DictSpType }}{{= req.DictSpType.Type }}{{?}}</td>
              <td>{{? req.DictSpContainer }}{{= req.DictSpContainer.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature }}{{= req.DictSpTemperature.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature1 }}{{= req.DictSpTemperature1.Name }}{{?}}</td>
              <td>{{? req.SpecialInstructions }}{{= req.SpecialInstructions }}{{?}}</td>
            </tr>
            {{ } }}
            {{ } }}
          </tbody>
        </table>
      </div>
      {{?}}

      {{? it._source.SpecimenRequirements }}
      <h3>
        Alternate Specimen Requirements
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Volume</th>
              <th>Type</th>
              <th>Container</th>
              <th>Collect Temperature</th>
              <th>Transport Temperature</th>
              <th>Special Instructions</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var requirement in it._source.SpecimenRequirements) { }}
            {{ var req = it._source.SpecimenRequirements[requirement]; }}
            {{ if (req.DictSpRequirementCategory.Name === "Alternate") { }}
            <tr>
              <td>{{? req.DictSpVolume }}{{= req.DictSpVolume.Volume }}{{?}}</td>
              <td>{{? req.DictSpType }}{{= req.DictSpType.Type }}{{?}}</td>
              <td>{{? req.DictSpContainer }}{{= req.DictSpContainer.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature }}{{= req.DictSpTemperature.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature1 }}{{= req.DictSpTemperature1.Name }}{{?}}</td>
              <td>{{? req.SpecialInstructions }}{{= req.SpecialInstructions }}{{?}}</td>
            </tr>
            {{ } }}
            {{ } }}
          </tbody>
        </table>
      </div>
      {{?}}

      {{? it._source.SpecimenRequirements }}
      <h3>
        Minimum Specimen Requirements
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Volume</th>
              <th>Type</th>
              <th>Container</th>
              <th>Collect Temperature</th>
              <th>Transport Temperature</th>
              <th>Special Instructions</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var requirement in it._source.SpecimenRequirements) { }}
            {{ var req = it._source.SpecimenRequirements[requirement]; }}
            {{ if (req.DictSpRequirementCategory.Name === "Minimum") { }}
            <tr>
              <td>{{? req.DictSpVolume }}{{= req.DictSpVolume.Volume }}{{?}}</td>
              <td>{{? req.DictSpType }}{{= req.DictSpType.Type }}{{?}}</td>
              <td>{{? req.DictSpContainer }}{{= req.DictSpContainer.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature }}{{= req.DictSpTemperature.Name }}{{?}}</td>
              <td>{{? req.DictSpTemperature1 }}{{= req.DictSpTemperature1.Name }}{{?}}</td>
              <td>{{? req.SpecialInstructions }}{{= req.SpecialInstructions }}{{?}}</td>
            </tr>
            {{ } }}
            {{ } }}
          </tbody>
        </table>
      </div>
      {{?}}

      {{? it._source.SpecimenStabilities }}
      <h3>
        Stability
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Environmental Condition</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var stability in it._source.SpecimenStabilities) { }}
            {{ var item = it._source.SpecimenStabilities[stability]; }}
            <tr>
              <td>{{? item.DictStabilityEnvironmentalCondition }}{{= item.DictStabilityEnvironmentalCondition.Name }}{{?}}</td>
              <td>{{? item.Description }}{{= item.Description }}{{?}}</td>
            </tr>
            {{ } }}
          </tbody>
        </table>
      </div>
      {{?}}

      {{? it._source.Schedule.DictDaysPerformed }}
      <h3>
        Days Performed
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Schedule.DictDaysPerformed.Days }}</p>
      {{?}}

      {{? it._source.Schedule.DictReported }}
      <h3>
        Reported
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Schedule.DictReported.Times }}</p>
      {{?}}
    </div>

    <div id="clinical" class="tab-pane fade">
      {{? it._source.Methodologies }}
      <h3>
        Methodology
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var method in it._source.Methodologies) { }}
            {{ var item = it._source.Methodologies[method]; }}
            <tr>
              <td>{{? item.DictMethodology.Name }}{{= item.DictMethodology.Name }}{{?}}</td>
              <td>{{? item.DictMethodology.Description }}{{= item.DictMethodology.Description }}{{?}}</td>
            </tr>
            {{ } }}
          </tbody>
        </table>
      </div>
      {{?}}

      {{? it._source.ReferenceRange }}
      <h3>
        Reference Range
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          {{ for (var category in it._source.ReferenceRange) { }}
          <thead>
            <tr>
              <th colspan="7">{{= it._source.ReferenceRange[category][0].ComponentName }} </th>
            </tr>
            <tr>
              <th>Sex</th>
              <th>Age From</th>
              <th>Age To</th>
              <th>Age Unit</th>
              <th>Type</th>
              <th>Range</th>
              <th>Range Unit</th>
            </tr>
          </thead>
          <tbody>
            {{ for (var reference in it._source.ReferenceRange[category]) { }}
            {{ var ref = it._source.ReferenceRange[category][reference]; }}
            <tr>
              <td>{{? ref.Sex}}{{= ref.Sex }}{{?}}</td>
              <td>{{? ref.AgeFrom}}{{= ref.AgeFrom }}{{?}}</td>
              <td>{{? ref.AgeTo}}{{= ref.AgeTo }}{{?}}</td>
              <td>{{? ref.AgeUnit}}{{= ref.AgeUnit }}{{?}}</td>
              <td>{{? ref.RangeValue_Normal}}Normal{{?? ref.RangeValue_Freetext}}Normal{{?? ref.RangeValue_Urgent}}Urgent{{?? ref.RangeValue_Critical}}Critical{{?}}</td>
              {{? ref.RangeValue_Freetext }}<td colspan="2">{{= ref.RangeValue_Freetext}}</td>
              {{?? ref.PredefinedReferenceRange }}<td colspan="2">{{= ref.PredefinedReferenceRange}}</td>
              {{??}}
              <td>{{? ref.RangeValue_Normal}}{{= ref.RangeValue_Normal}}{{?? ref.RangeValue_Urgent}}{{= ref.RangeValue_Urgent}}{{?? ref.RangeValue_Critical}}{{= ref.RangeValue_Critical}}{{?}}</td>
              <td>{{? ref.RangeUnit}}{{= ref.RangeUnit }}{{?}}</td>
              {{?}}
            </tr>
            {{ } }}
          </tbody>
          {{ } }}
        </table>
      </div>
      {{?}}

      {{? it._source.Laboratory.SpecialInfo }}
      <h3>
        Special Info
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Laboratory.SpecialInfo }}</p>
      {{?}}

      {{? it._source.Laboratory.ClinicalInfo }}
      <h3>
        Clinical Info
        <small><a href="#" class="info" data-toggle="tooltip" title="Discusses physiology, pathophysiology, and general clinical aspects, as they relate to a laboratory test."><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Laboratory.ClinicalInfo }}</p>
      {{?}}

      {{? it._source.Utility }}
      <h3>
        Utility
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.Utility }}</p>
      {{?}}

      {{? it._source.References }}
      <h3>
        References
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <p>{{= it._source.References }}</p>
      {{?}}
    </div>

    {{? it._source.SupportDocuments[0] }}
    <div id="documents" class="tab-pane fade">
      {{ var techBrief = false; var informedConsent = false; }}
      {{ for (var document in it._source.SupportDocuments) { }}
        {{ var doc = it._source.SupportDocuments[document]; }}
        {{ if (doc.DocumentType === "TechnicalBrief") techBrief = true; }}
        {{ if (doc.DocumentType === "InformedConsent") informedConsent = true; }}
      {{ } }}

      {{? techBrief }}
      <h3>
        Technical Briefs
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <ul>
        {{ for (var document in it._source.SupportDocuments) { }}
        {{ var doc = it._source.SupportDocuments[document]; }}
        {{ if (doc.DocumentType === "TechnicalBrief") { }}
        <li><a href="{{= doc.Site}}{{= doc.DocumentType}}/{{= doc.DocumentFileName}}.{{= doc.DocumentFormat}}">{{= doc.DocumentTitle }}</a></li>
        {{ } }}
        {{ } }}
      </ul>
      {{?}}

      {{? informedConsent }}
      <h3>
        Informed Consent
        <small><a href="#" class="info" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a></small>
      </h3>
      <ul>
        {{ for (var document in it._source.SupportDocuments) { }}
        {{ var doc = it._source.SupportDocuments[document]; }}
        {{ if (doc.DocumentType === "InformedConsent") { }}
        <li><a href="{{= doc.Site}}{{= doc.DocumentType}}/{{= doc.DocumentFileName}}.{{= doc.DocumentFormat}}">{{= doc.DocumentTitle }}</a></li>
        {{ } }}
        {{ } }}
      </ul>
      {{?}}
    </div>
    {{?}}

  </div>
  {{ } else { }}
  <div class="alert alert-danger">Error</div>
  {{ } }}
</script>
